name: Build grok deb packages

on:
  push:
    tags:
    - "*"

jobs:
  build:
    name: Build
    strategy:
      matrix:
        image:
        - debian:12
        - debian:13
        host:
        - ubuntu-24.04-arm
        - ubuntu-24.04
    runs-on: ${{ matrix.host }}
    container:
      image: ${{ matrix.image }}
    steps:
    - name: Install build dependencies
      run: |
        apt-get update
        apt-get install --yes --no-install-recommends git build-essential cmake doxygen ruby libimage-exiftool-perl libjpeg62-turbo-dev liblcms2-dev libtiff-dev libpng-dev pkgconf
        gem install fpm -v 1.17.0
    - uses: actions/checkout@v6
      with:
        submodules: recursive
    - name: git config
      run: git config --global --add safe.directory "$GITHUB_WORKSPACE"
    - name: build
      id: build_deb
      run: ./build.sh
    - uses: actions/upload-artifact@v4
      with:
        name: ${{ steps.build_deb.outputs.debname }}
        path: src/build/grokj2k_*
